/* CONTENT */
@import url(https://fonts.googleapis.com/css?family=Inter);

:root{
    --bs-font-sans-serif: "Inter", sans-serif !important;
}

.btn-custom-solid{
    padding: 7px 40px;
    width: 100%;
    background: #111;
    color: white;
    font-weight: 600;
    border: none;
}
.btn-custom-outline.active{
    background: #111 !important;
    color: white !important;
}
.btn-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 48px;
    border-radius: 0 0 0 4px ;
}
.btn-heart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 48px;
    border-radius: 0 0 4px 0;
    border: 1px solid #111;
}
.btn-heart_active{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 48px;
    border-radius: 0 0 4px 0;
    border: 1px solid #111;
}
.btn-custom-solid_white{
    padding: 7px 40px;
    width: 100%;
    text-align: center;
    background: #fff;
    color: #111 !important;
    font-weight: 600;
    border: none;
}
.btn-icon-fill_white{
    color: white;
    font-weight: 600;
}
.btn-custom-outline{
    padding: 7px 40px;
    width: 100%;
    display: block;
    text-align: center;
    background: #fff;
    color: #111;
    font-weight: 600;
    border: 2px solid #111;
    text-decoration: none;
}

.btn-custom-outline_white{
    padding: 5px 40px;
    width: 100%;
    display: block;
    text-align: center;
    background: transparent;
    color: #fff !important;
    font-weight: 600;
    border: 2px solid #fff;
    text-decoration: none;
}
#pills-tab button{
    border-radius: 0;
    padding: 5px 16px;
}
#app{
    height: 100vh;
    background: white;
}

@media screen and (max-width: 767px) {
    .center-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Login/Register */
.bg-cover{
height: 100vh;
background-size: cover;
}

.bg-login{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(9,9,121,0) 100%), url('../assets/img/login.jpg') center center no-repeat;
}

.bg-register{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(9,9,121,0) 100%), url('../assets/img/register.jpg') center center no-repeat;
}

.bg-cover_home{
    height: 92vh;
    background-size: cover;
}

.bg-home{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.575) 100%), url('../assets/img/home.jpg') center center no-repeat;
}
.login-logo_wrapper{
    margin-bottom: 4rem;
}
.login-logo{
    width: 100%;
}
.login-logo:hover{
    opacity: 0.85;
}
@media screen and (max-width: 768px) {
    .bg-login{
        height: 15%;
    }
}

/* Home */
.navbar-brand img{
    max-height: 3rem;
    width: auto;
}
.navbar-brand img:hover{
    opacity: 80%;
}

.main-nav{
    box-shadow: 0 6px 8px #00000010;
}

#navbarSupportedContent{
    float: right;
}
.icon-avatar{
    height: 24px;
    width: 24px;
}
.icon-heart:hover{
    color: white;
    transform: scale(1.2);
    transition-duration: 0.2s;
}

@media screen and (max-width: 768px) {
    #navbarSupportedContent{

    }
}

/* FLAT CARD */
.icon-details{
    display: flex;
    justify-content: center;

}
.icon-details svg{
    height: 24px;
}
.icon-text{
    text-align: center;
    line-height: 20px;
}
.details-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#pills-tab{
    display: flex;
    justify-content: end;
    margin-bottom: -37px;
    z-index: 100;
}
.border-button{
    border-radius: 0 4px 0 0 !important;
}
.price{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

/* FAVS */
.header h1{
    font-size: 2.5em;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.03em;
    margin-top: 3rem;

}
